<!-- HIDDEN FOR NOW -->
<canvas id="bombCanvas" class="theCanvas"></canvas>
<canvas id="smallCanvas" class="theCanvas" style="display: none"></canvas>


<div class="bottomPanel" ng-class="{settingsOpen : settingsOpen}">
    <div class="barsButton" ng-click="toggleSettings()">
        <i class="fa fa-3x fa-bars barsIcon"></i>
    </div>
    <div class="cameraButton" ng-click="kaboom()">
        <i class="fa fa-3x fa-bomb bombButtonIcon"></i>
    </div>
    <div class="checkButton" ng-click="toDaCamera()">
        <i class="fa fa-3x fa-home checkIcon"></i>
    </div>
    
    <div class="thresholdValue">Pixel Similarity Threshold: {{pixelThreshold}}</div>
    <div>
        <input class="thresholdSlider" ng-model="pixelThreshold" type="range" min="0" max="765" step="1"/>
    </div>
    
    <div class="thresholdValue">Region Size Threshold: {{regionThreshold}}</div>
    <div>
        <input class="thresholdSlider" ng-model="regionThreshold" type="range" min="0" max="1000" step="1"/>
    </div>    
                                                                    
</div>