<img id="defaultImage" ng-src="img/MauraShirt.png" style="display: none">
<canvas id="theCanvas" class="theCanvas"></canvas>
<div class="bottomPanel">
    <div class="xButton" ng-click="eraseCanvas()">
        <i class="fa fa-3x fa-times xIcon"></i>
    </div>    
    <div class="cameraButton" ng-click="takePicture()">
        <i class="fa fa-3x fa-camera cameraButtonIcon"></i>
    </div>
    <div class="checkButton" ng-click="toDaBomb()">
        <i class="fa fa-3x fa-check checkIcon"></i>
    </div>
</div>