/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.cameraButton {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;       
    margin: auto;
    margin-top: -30px;
    
    background-color: #000000;
    color: #ffaa00;
    
    box-shadow: 4px 4px 8px #333333;
}
.cameraButton:active {
    color: #ffffff;
    background-color: #ffaa00;
}

.cameraButtonIcon {
    line-height: 99px;
    margin-right: -2px;
    color: inherit;
}

.bombButtonIcon {
    line-height: 99px;
    margin-right: -5px;
    color: inherit;
}

.bottomPanel {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 80px;
    text-align: center;

    background-color: #4d4dff;
    
    transition: all 0.4s;
}

.theCanvas {
    box-shadow: 4px 4px 8px #aaaaaa;
    border: 1px solid #aaaaaa;
    
    display: block;
    margin: 15px auto;
    
    width: 300px;
    height: 475px;
}

.checkButton {
    background-color: #00FF00;
    float: right;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 15px;
    box-shadow: 4px 4px 8px #333333;
}
.checkButton:active {
    opacity: 0.7;
}

.checkIcon {
    margin-top: 6px;
}

.xButton {
    background-color: #FF0000;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 15px;
    box-shadow: 4px 4px 8px #333333;
}
.xButton:active {
    opacity: 0.7;
}

.xIcon {
    margin-top: 7px;    
}

.barsButton {
    background-color: #00FFFF;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 15px;
    box-shadow: 4px 4px 8px #333333;    
}
.barsButton:active {
    opacity: 0.7;
}

.barsIcon {
    margin-top: 7px;  
}

.settingsOpen {
    height: 600px;
}

.thresholdValue {
    margin-top: 30px;
    
    color: #FFFFFF;
    font-size: 20px;
}

.thresholdSlider {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.modeSlider {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.imagePicker {
    width: 95%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
    padding-bottom: 10px;
}

.pickerSquare {
    display: inline-block;
    width: 113px; /* maintain 600 x 800 image ratio */
    height: 150px;
    margin-left: 10px;
    background-color: #FFFFFF;
    
    border-radius: 10px;
    box-shadow: 8px 8px 10px #333333;
}
.pickerSquare:hover {
    border: 2px solid #ff0000;
    width: 109px;
    height: 146px;
}

.pickerImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}